:root {
  --blue: #004aad;
  --red: #fa1617;
  --white: #ffffff;
  --sky: #e7eceb;
  --black: #000000;
  --deepblue: #000641;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000a5;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
}

body {
  overflow-x: hidden;
}
nav {
  height: 6rem;
  width: 100vw;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex !important;
  position: fixed;
  z-index: 10;
  background: rgba(255, 255, 255, 0.115);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgb(255, 255, 255); */
}
.logo {
  width: 23vw;
  padding: 1vh 1vw;
  margin-left: 5vw;
  text-align: center;
  align-items: center;
  display: flex;
}
.logo img {
  height: 5rem;
  width: 9rem;
}
.logo h2 > a {
  font-size: 1rem;
  text-decoration: none;
  color: #2510bf;
  margin-left: 20px;
  font-weight: 600;
}
.logo h2 > a > i {
  color: #2510bf;
  margin-left: -5px;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 77vw;
  padding: 0 0.4vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li a {
  color: #131418;
  text-decoration: none;
  margin: 0 0.5vw;
  font-size: 18PX;
  font-weight: 600;
}
.nav-links li a:hover {
  color: #ce1d1d;
}
.nav-links li {
  position: relative;
}
.dropdown {
  float: left;
  overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #800b0bb7;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.login-button {
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 2em;
  padding: 0.8rem 0.9rem;
  margin-left: 2vw;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.login-button:hover {
  color: #ff3b3b;
  background-color: #000000;
  transition: all ease-in-out 350ms;
}
.join-button {
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 2em;
  padding: 0.8rem 0.9rem;
  margin-left: 2vw;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.join-button:hover {
  color: #ff3b3b;
  background-color: #000000;
  border: 1.5px solid #000000;
  transition: all ease-in-out 350ms;
}
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }
  .login-button {
    font-size: 1.7rem;
  }
  .join-button {
    font-size: 1.7rem;
  }
  .nav-links li a {
    font-size: 1.7rem;
    color: #f1f1f1;
  }
  .nav-links {
    position: fixed;
    background: linear-gradient(
      0deg,
      rgba(251, 129, 104, 1) 0%,
      rgba(55, 85, 231, 1) 100%
    );
    height: 90vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -22%);
    pointer-events: all;
  }
}
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section h1,
section h2 {
  font-size: 4rem;
  margin: 0;
}

section p {
  font-size: 1.5rem;
  margin: 0;
}
#home {
  background-color: #ffffff;
}
.dets {
  width: 31%;
  height: auto;
  position: absolute;
  color: var(--black);
  top: 30%;
  left: 5%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 25px;
  z-index: 2;
}
.dets h1 {
  padding-top: 0%;
  margin-bottom: 7%;
  font-size: 35px;
  font-weight: 900;
}
.dets h4 {
  font-size: 18px;
  font-weight: 400;
  font-weight:main-aspect-ratio;
}
.backvideo{
   position: absolute;
   right:0;
   bottom: 0;
   z-index: -1;
   visibility: var(--deepblue);
}
@media (min-aspect-ratio:16/9){
  .backvideo {
    width:100%;
    height: auto;
  }
}
@media (max-aspect-ratio:16/9){
  .backvideo {
    width:auto;
    height: 100%;
  }
}
  

#about {
  background-color: #8a8a8a;
  color: #000000;
}

#services {
  background-color: #a9a9a9;
  color: #000000;
}

#contact {
  background-color: #808080;
  color: #000000;
}
