 @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@400;500&display=swap');
 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
 }
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.815);
 }
 .box{
    position: relative;
    width: 420px;
    height: 520px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
 }
 @keyframes animate
 {
    0%
    {
        transform: rotate(0deg);
    }
    100% 
    {
         transform: rotate(360deg);
    }
 }
 .form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    z-index: 9999;
    padding: 20%  20%;
    display: flex;
    flex-direction: column;
    color: aliceblue;
 }
 .form h2{
    color:#ff4545;
    font-size: 30px;
    font-weight:bold;
    text-align: center;
 }
 .inputbox{
    position: relative;
    width: 380px;
    margin-top: 35px;
 }
 .inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 99;
 }
 .inputbox span{
   position: absolute;
   left: 0% ;
   padding: 20px 0px 10px;
   font-size: 1em;
   color: gray;
   pointer-events: none;
   transition: 0.5s;
   letter-spacing: 0.5em;
 }
 .inputbox input:valid~span,
 .inputbox input:focus~span
 {
   color:#ff4545;
   transform: translateX(0px) translatey(-34px);
   font-size:  0.75em;
 }
 .inputbox i {
   position: absolute;
   left:  0;
   bottom:  0;
   width: 70%;
   height: 2px;
   background-color: #ff4545;
   border-radius: 4px;
   transition:  0.5s;
   pointer-events: none;
 }
 .inputbox input:valid~i,
 .inputbox input:focus~i
 {
   height:44px;
 }
.links{
   display: flex;
   justify-content: space-between;
}
.links a{
   margin: 10px 0;
   font-size: 0.75em;
   color: gray;
   text-decoration: none;

}
.links a:hover,
.links a:nth-child(2)
{
   color: #ff4545;
}
input[type="sumit"]
{
   border: none;
   outline: none;
   background: #ff4545;
   padding: 11px 25px;
   width: 100px;
   margin-top: 4px;
   border-radius: 4px;
   font-weight: bold;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}
input[type="sumit"]:active
{
   opacity:0.8;
}
#register div{
   display: none;
}